// import { take, call, put, select, takeLatest } from 'redux-saga/effects';
// import { {{ camelCase ComponentName }}Actions } from './slice';

// export function* doSomething() {}

export function* {{ camelCase ComponentName }}Saga() {
  // yield takeLatest(actions.someAction.type, doSomething);
}
