import { PayloadAction } from '@reduxjs/toolkit';
import { createSlice } from 'utils/@reduxjs/toolkit';
import { ContainerState } from './types';

// The initial state of the {{ properCase ComponentName }} container
export const initialState: ContainerState = {};

const {{ camelCase ComponentName }}Slice = createSlice({
  name: '{{ camelCase ComponentName }}',
  initialState,
  reducers: {
    someAction(state, action: PayloadAction<any>) {},
  },
});

export const { actions: {{ camelCase ComponentName }}Actions, reducer, name: sliceKey } = {{ camelCase ComponentName }}Slice;