const xTreeApi = {
  url: '{{app_api_url}}',
  vocabulary: '{{app_xtree_vocabulary}}',
  username: '{{app_xtree_api_username}}',
  password: '{{app_xtree_api_password}}',
  formLoginName: '{{app_xtree_api_form_login_name | default('Log+in')}}}',
  formLoginId: '{{app_xtree_api_form_login_id | default('264859')}}}',
}
const matomo = {
  url: '{{app_matomo_url}}',
  sited: '{{app_matomo_site_id}}',
};

const appConfig = {
  'apiUrl': xTreeApi.url,
  'xTreeVocabulary': xTreeApi.vocabulary,
  'xTreeApiUsername': xTreeApi.username,
  'xTreeApiPassword': xTreeApi.password,
  'xTreeApiFormLoginName': xTreeApi.formLoginName,
  'xTreeApiFormLoginId': xTreeApi.formLoginId,
  'matomoUrl': matomo.url,
  'matomoSiteId': matomo.siteId,
};

window.appConfig = appConfig;
